.toolbarUI {
    background-color: olivedrab !important;
    color: black !important;
    background-image: none !important;
}

.x-toolbar-dark {
    .x-title {
        color: black !important;
        text-shadow: none !important;
    }
}

.profile-Phone {
    #homeView {
        background: url(../images/background.png) no-repeat fixed;
        background-size: cover;
        background-position: top;
        background-position-y: -60px;
        background-position-x: -28px;
    }

    .x-button {
        width: 200px !important;
        height: 80px;
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .fifth-button {
        margin-left: 212.5px;
    }
}
